:root {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    --page-background-color: #011526;
    --elements-color: #ffffff;
    --minefield-sector-color: #7fffd4;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

menu {
    list-style: none;
}

/* Page wrapper */
.page-wrapper {
    width: 100%;
    height: 100vh;
    color: var(--elements-color);
    background-color: var(--page-background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
}

.page-wrapper>div {
    overflow: auto;
}

.page-wrapper>div>* {
    margin: 1.5rem auto;
    width: 95%;
    max-width: 80vh;
}

/* header */
h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

header>menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

.score-container {
    font-weight: 700;
}

#difficulty-form {
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    gap: .5rem;
}

.input-group {
    font-size: .75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.custom-input {
    outline: none;
    color: var(--page-background-color);
    background-color: var(--elements-color);
    border: 1px solid var(--elements-color);
    border-radius: .5rem;
    font-weight: 700;
}

.custom-input:hover {
    cursor: pointer;
}

select {
    height: 1.5rem;
}

input {
    height: 3rem;
    aspect-ratio: 1 / 1;
}

input:active {
    color: unset;
    background-color: unset;
}

#dificulty-setting {
    display: block;
}

/* Minefield */
#minefield {
    max-height: 80vh;
    aspect-ratio: 1 / 1;
    background-color: var(--elements-color);
    display: grid;
    align-items: center;
    justify-items: center;
}

.welcome-message {
    display: inline-block;
    width: 80%;
    text-align: center;
    font-size: 5vmin;
    font-weight: 700;
    color: var(--page-background-color);
}

.minefield-sector {
    background-color: var(--minefield-sector-color);
    width: 100%;
    height: 100%;
    border: 6px solid;
    border-color: #ffffffc0 #000000c0 #000000c0 #ffffffc0;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checked {
    background-color: unset;
    box-shadow: none;
    border: 2px solid #00000080;
}

.checked.bomb {
    color: var(--page-background-color);
}

.checked.exploded {
    background-color: #ac0000;
}

.bombs-in-proximity-0 {
    color: #999999;
}

.bombs-in-proximity-1 {
    color: #55dfdf;
}

.bombs-in-proximity-2 {
    color: #3ee71d;
}

.bombs-in-proximity-3 {
    color: #c5b803;
}

.bombs-in-proximity-4 {
    color: #dd9000;
}

.bombs-in-proximity-5 {
    color: #e95e01;
}

.bombs-in-proximity-6 {
    color: #f70000;
}

.bombs-in-proximity-7 {
    color: #910000;
}

.bombs-in-proximity-8 {
    color: #410101;
}